body {
	box-sizing: border-box;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	header {
		.header-nav {
			margin: 50px 0 0;
			// padding: 20px;
			// line-height: 3.5rem;
			// border-top: 1px solid #6868fa;
			// border-bottom: 1px solid #6868fa;
			background-color: #6868fa;
			display: flex;
			justify-content: space-between;
			padding: 14px 20px;
			line-height: 2rem;
			&--links {
				&__link {
					// padding-left: 15px;
					// background-color: purple;
					// margin-left: 100px;
					// line-height: 2rem;
					color: #eee;
				}
			}
			&--rechts {
				&__link {
					// padding-right: 15px;
					// background-color: purple;
					// margin-right: 100px;
					// line-height: 2rem;
					color: #eee;
				}
			}
			&__link {
				line-height: 2rem;
				text-decoration: none;
				color: #eee;
				padding: 20px 5px;
				font-weight: 600;
				&:hover {
					color: #6868fa;
					background-color: #eee;
				}
			}
		}
	}
	main {
		background-color: rgb(247, 247, 247);
		background-color: rgb(240, 240, 240);
		padding-top: 40px;
		height: calc(100vh - 150px);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		.main-content {
			width: 80%;
			h1 {
				color: #6868fa;
				background-color: #e5e7e6;
				font-size: 3rem;
				padding: 20px 0 5px 5%;
				// margin: 0;
			}
			.button--extra {
				position: relative;
				right: 0;
				left: 0;
				margin-right: 20px;
				float: right;
				top: -55px;
				cursor: pointer;
				// titel 73px
				// button 37
			}

			// formulier
			.main-area__form {
				clear: both;
				padding: 30px 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				align-self: center;
				justify-content: center;
				background-color: #6868fa;
				position: relative;

				&--bestelform {
					top: -36px;
				}

				// log-in
				.email,
				.password {
					width: 80%;
					display: flex;
					justify-content: space-between;
					margin-bottom: 20px;
					width: 60%;
					label {
						font-weight: 41.5rem;
						vertical-align: baseline;
						line-height: 1rem;
						font-weight: 700;
						color: whitesmoke;
						line-height: 1.3rem;
					}
					input {
						width: 200px;
						margin-left: 15px;
						background-color: rgb(202, 202, 202);
					}
				}
				// log-in
				// bestelpagina
			}
			table {
				width: 100%;
				// text-align: center;
				// background-color: gold;
				margin: 20px 0;
				th {
					font-weight: 700;
					padding: 15px;
					//
					// $medium-slate-blue: #6868faff;
					// $platinum: #e5e7e6ff;
					// $dark-byzantium: #59344fff;
					// $gunmetal: #022b3aff;
					// $teal: #0e7c7bff;
					//
					border: 1px solid #6868fa;
					border: 1px solid #e5e7e6;
					border: 1px solid #59344f;
					border: 1px solid #022b3a;
					border: 1px solid #0e7c7b;
					// border: 1px solid #ffff68;
				}
				tbody {
					tr {
						text-align: center;
						&:nth-of-type(n + 1) {
							background-color: aliceblue;
						}
						&:nth-of-type(even) {
							background-color: aquamarine;
						}
						td {
							padding: 5px;
							// background-color: #6868fa;
						}
					}
				}
			}
			// bestelpaginatable

			// algemeen
			button {
				width: 150px;
				margin: 0 auto;
				color: #6868fa;
				font-weight: 700;
				border: 1px solid #6868fadc;
				border-radius: 1px;
				padding: 10px 15px;
			}
			// algemeen
			// formulier
			// tabel
			// tabel
		}
	}
}
